.switch-hot{
	display: flex;
    height: 44px;
    line-height: 44px;
    position: relative;
    width: 50%;
    float: left;
}

.hot-item2{
	font-size: 15px;
    color: #666;
    width: 50%;
    
    text-align: center;
   
    font-weight: 700;
    float: right;
}
